* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 6.25%; }

body {
  font-size: 16rem;
  font-family: opensans;
  color: #FFF;
  background-color: #121212;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #FFF;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    color: #F8C100; }

button {
  border: none;
  background: none;
  outline: none; }

h1 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h2 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h3 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h4 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h5 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h6 {
  text-transform: uppercase;
  font-family: sourcesanspro-black; }

h4 {
  text-transform: none; }

.header {
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.75s;
  transition: 0.75s; }
  .header.bg-dark {
    background-color: rgba(18, 18, 18, 0.9); }
    .header.bg-dark .login {
      background: none; }
      .header.bg-dark .login svg {
        color: #F8C100; }
  .header svg {
    font-size: 20rem;
    color: #F8C100; }
  .header__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 10 !important;
    border-right: 2px solid rgba(255, 255, 255, 0.1); }
    .header__item:last-child {
      border: none; }
  .header__menu {
    border: none;
    background: none;
    outline: none;
    color: #F8C100;
    cursor: pointer; }
  .header__brand {
    font-size: 24rem;
    color: #FFF; }
    .header__brand svg {
      color: #FFF; }

.search-group {
  min-width: 0;
  width: 100%; }
  .search-group__input {
    border: none;
    background: none;
    outline: none;
    min-width: 0;
    width: 100%;
    color: #FFF;
    font-size: 16rem; }
    .search-group__input::-webkit-input-placeholder {
      font-family: opensans-italic;
      color: rgba(255, 255, 255, 0.5); }
    .search-group__input::-moz-placeholder {
      font-family: opensans-italic;
      color: rgba(255, 255, 255, 0.5); }
    .search-group__input:-ms-input-placeholder {
      font-family: opensans-italic;
      color: rgba(255, 255, 255, 0.5); }
    .search-group__input::-ms-input-placeholder {
      font-family: opensans-italic;
      color: rgba(255, 255, 255, 0.5); }
    .search-group__input::placeholder {
      font-family: opensans-italic;
      color: rgba(255, 255, 255, 0.5); }
  .search-group__go {
    border: none;
    background: none;
    outline: none;
    width: 20%;
    cursor: pointer; }

.contacts {
  text-align: center; }
  .contacts__phone {
    font-family: oswald;
    font-size: 24rem; }
    .contacts__phone span {
      color: #F8C100; }
  .contacts__worktime {
    font-size: 12rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5); }

.side-menu {
  position: fixed;
  z-index: 150;
  top: auto;
  bottom: auto;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center; }
  .side-menu.hidden .side-menu__item {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0; }
  .side-menu__item {
    text-transform: uppercase;
    font-family: oswald; }
    .side-menu__item::after {
      content: '';
      display: block;
      width: 50;
      height: 4px;
      margin: 15 0;
      background-color: #FF0000;
      box-shadow: 10px 0px 0px -1px rgba(255, 255, 255, 0.1), -10px 0px 0px -1px rgba(255, 255, 255, 0.1);
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .side-menu__item svg {
      height: 50px;
      width: 50px;
      fill: #FFF;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .side-menu__item span {
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .side-menu__item:hover::after {
      width: 70px;
      box-shadow: 0px 0px 0px -1px rgba(255, 255, 255, 0.1), 0px 0px 0px -1px rgba(255, 255, 255, 0.1); }
    .side-menu__item:hover svg {
      fill: #F8C100; }
    .side-menu__item:hover span {
      color: #F8C100; }

.nav {
  position: fixed;
  z-index: 150;
  right: 0px;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__item {
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav__item:hover {
      color: #FF0000; }
    .nav__item.active {
      color: #FFF;
      -webkit-transform: translate(28px);
              transform: translate(28px); }
  .nav__indicator {
    position: absolute;
    z-index: 175;
    width: 10;
    height: 10;
    border: 2px solid #FF0000;
    border-radius: 50%; }
    .nav__indicator::after {
      content: '';
      position: absolute;
      left: -10;
      right: -10;
      top: 2px;
      height: 2px;
      background-color: rgba(255, 0, 0, 0.5);
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .nav__indicator.moving::after {
      left: 50%;
      right: 50%; }
  .nav.hidden {
    -webkit-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
    opacity: 0; }

.nav-slideIn {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 200;
  -webkit-transform: translate(70%, -50%);
          transform: translate(70%, -50%);
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .nav-slideIn:hover {
    -webkit-transform: translate(30%, -50%);
            transform: translate(30%, -50%); }
  .nav-slideIn.hidden {
    -webkit-transform: scale(0);
            transform: scale(0); }
    .nav-slideIn.hidden button {
      -webkit-transform: scale(0);
              transform: scale(0); }
  .nav-slideIn-btn {
    width: 40px;
    height: 40px;
    background-color: #FF0000;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100vh;
  background-image: url("/img/hero.jfif");
  background-size: cover;
  background-position: center;
  text-align: center;
  text-transform: uppercase;
  font-family: sourcesanspro-black; }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(18, 18, 18, 0.7); }
  .hero * {
    z-index: 75; }
  .hero__title {
    font-size: 60rem;
    line-height: 60rem;
    margin-bottom: 10px; }
  .hero__subtitle {
    text-transform: uppercase;
    color: #F8C100;
    font-size: 30rem; }
  .hero__scrolldown {
    position: relative;
    font-family: opensans;
    font-size: 18rem;
    position: absolute;
    bottom: 50px; }
    .hero__scrolldown span {
      font-size: 11rem;
      color: rgba(255, 255, 255, 0.5); }
    .hero__scrolldown a::after {
      content: '';
      display: block;
      width: 0;
      height: 2;
      margin: 0 auto;
      background-color: #F8C100;
      -webkit-transition: .2s;
      transition: .2s; }
    .hero__scrolldown a:hover::after {
      width: 100%; }

.mouse {
  overflow: hidden;
  width: 30px;
  height: 45;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5 0 25;
  border: 2px solid #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }
  .mouse__wheel {
    width: 4px;
    height: 100%;
    border-radius: 2px;
    overflow: hidden; }
    .mouse__wheel::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #F8C100;
      -webkit-animation: 2s scrolling-wheel linear infinite;
              animation: 2s scrolling-wheel linear infinite;
      opacity: 0.6; }

.stock {
  position: relative;
  height: 100vh; }

.slider {
  position: relative; }
  .slider__arrow {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    width: 30;
    height: 30;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .slider__arrow:hover {
      color: #FF0000;
      border-color: #FF0000; }
    .slider__arrow--prev {
      margin-right: 10; }

.offer {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right; }
  .offer::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #121212), color-stop(20%, rgba(18, 18, 18, 0.9)), to(transparent));
    background: linear-gradient(to right, #121212 10%, rgba(18, 18, 18, 0.9) 20%, transparent); }
  .slick-initialized .offer.slick-slide {
    display: -webkit-box !important;
    display: flex !important;
    outline: none; }
  .offer .arrows {
    display: -webkit-box;
    display: flex;
    margin-bottom: 30px; }
  .offer__content {
    position: relative;
    z-index: 100;
    padding-left: 30 !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center; }
  .offer--salad {
    background-image: url("/img/stock-salad.jfif"); }
  .offer--desert {
    background-image: url("/img/stock-dessert.jfif"); }
  .offer--drinks {
    background-image: url("/img/stock-drinks.jfif"); }

.discount-percent {
  color: #FF0000;
  font-size: 80rem;
  line-height: 60rem; }

.discount-text {
  color: #FF0000;
  font-size: 40rem; }

.product-name {
  font-size: 45rem;
  text-transform: none; }

.product-description {
  font-size: 20rem;
  color: #F8C100;
  margin-bottom: 20px; }

.product-link {
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .product-link:hover {
    border-color: #F8C100; }

.menu {
  height: 100vh;
  display: -webkit-box;
  display: flex; }
  .menu__item {
    position: relative;
    height: 100%;
    width: 20%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center; }
    .menu__item * {
      position: relative;
      z-index: 100; }
    .menu__item .product-link {
      padding: 15px 40px;
      opacity: 0; }
    .menu__item svg {
      width: 65px;
      height: 65px;
      margin-bottom: 15px; }
    .menu__item .side-menu__item:hover svg {
      fill: #FFF; }
    .menu__item .side-menu__item:hover span {
      color: #FFF; }
    .menu__item .side-menu__item::after {
      margin: 35px 0px;
      width: 90px;
      box-shadow: -15px 0px 0px -1px rgba(255, 255, 255, 0.3), 15px 0px 0px -1px rgba(255, 255, 255, 0.3); }
    .menu__item:hover .side-menu__item::after {
      width: 120px;
      box-shadow: 0px 0px 0px -1px rgba(255, 255, 255, 0.3), 0px 0px 0px -1px rgba(255, 255, 255, 0.3); }
    .menu__item--burgers {
      background-image: url("/img/menu-burgers.jfif"); }
    .menu__item--garnish {
      background-image: url("/img/menu-garnish.jfif"); }
    .menu__item--salads {
      background-image: url("/img/menu-salads.jfif"); }
    .menu__item--desserts {
      background-image: url("/img/menu-desserts.jfif"); }
    .menu__item--drinks {
      background-image: url("/img/menu-drinks.jfif"); }
    .menu__item:hover::after {
      background: rgba(18, 18, 18, 0.9); }
    .menu__item:hover .product-link {
      opacity: 1; }
    .menu__item::after {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: rgba(18, 18, 18, 0.5);
      -webkit-transition: 0.5s;
      transition: 0.5s; }

.footer {
  position: relative; }
  .footer__content {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    height: 33%;
    padding-top: 30px; }

.backcall-form__btn {
  cursor: pointer; }
  .backcall-form__btn svg {
    width: 30px;
    height: 30px;
    fill: #F8C100; }

.social {
  margin: 0 auto;
  -webkit-box-pack: center;
          justify-content: center; }
  .social svg {
    width: 30px;
    height: 30px; }

@font-face {
  font-family: 'opensans';
  src: url("/fonts/OpenSans-Regular.eot");
  src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-italic';
  src: url("/fonts/OpenSans-Italic.eot");
  src: url("/fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Italic.woff") format("woff"), url("/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald';
  src: url("/fonts/Oswald-Regular.eot");
  src: url("/fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Oswald-Regular.woff") format("woff"), url("/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sourcesanspro-black';
  src: url("/fonts/SourceSansPro-Black.eot");
  src: url("/fonts/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/SourceSansPro-Black.woff") format("woff"), url("/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes scrolldown-icon {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px); }
  50% {
    -webkit-transform: translate(0px, 10px) scale(1.05);
            transform: translate(0px, 10px) scale(1.05); }
  60% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1); } }

@keyframes scrolldown-icon {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px); }
  50% {
    -webkit-transform: translate(0px, 10px) scale(1.05);
            transform: translate(0px, 10px) scale(1.05); }
  60% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1); } }

@-webkit-keyframes scrolling-wheel {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%); }
  80% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%); }
  100% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%); } }

@keyframes scrolling-wheel {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%); }
  80% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%); }
  100% {
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%); } }

.fast {
  -webkit-transition: .3s;
  transition: .3s; }

.smooth {
  -webkit-transition: .5s;
  transition: .5s; }

.slow {
  -webkit-transition: .8s;
  transition: .8s; }

.snail {
  -webkit-transition: 1.2s;
  transition: 1.2s; }

.delay-1 {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s; }

.delay-2 {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }

.delay-3 {
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s; }

.delay-4 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }

.delay-5 {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s; }

.delay-6 {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s; }

.delay-7 {
  -webkit-transition-delay: 0.525s;
          transition-delay: 0.525s; }

.delay-8 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }

.delay-9 {
  -webkit-transition-delay: 0.675s;
          transition-delay: 0.675s; }

.delay-10 {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s; }

.delay-11 {
  -webkit-transition-delay: 0.825s;
          transition-delay: 0.825s; }

.delay-12 {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s; }

.delay-13 {
  -webkit-transition-delay: 0.975s;
          transition-delay: 0.975s; }

.delay-14 {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s; }

.delay-15 {
  -webkit-transition-delay: 1.125s;
          transition-delay: 1.125s; }

.delay-16 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s; }

.delay-17 {
  -webkit-transition-delay: 1.275s;
          transition-delay: 1.275s; }

.delay-18 {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s; }

.delay-19 {
  -webkit-transition-delay: 1.425s;
          transition-delay: 1.425s; }

.delay-20 {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s; }
