@font-face {
    font-family: 'opensans';
    src: url('/fonts/OpenSans-Regular.eot');
    src: url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-italic';
    src: url('/fonts/OpenSans-Italic.eot');
    src: url('/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OpenSans-Italic.woff') format('woff'),
    url('/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('/fonts/Oswald-Regular.eot');
    src: url('/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Oswald-Regular.woff') format('woff'),
    url('/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourcesanspro-black';
    src: url('/fonts/SourceSansPro-Black.eot');
    src: url('/fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Black.woff') format('woff'),
    url('/fonts/SourceSansPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
